{% extends 'base.html' %}
{%load static%}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.colVis.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
  
 
   <style>
          
           div.dt-button-collection button.dt-button:active:not(.disabled),
            div.dt-button-collection button.dt-button.active:not(.disabled), 
            div.dt-button-collection div.dt-button:active:not(.disabled), 
            div.dt-button-collection div.dt-button.active:not(.disabled),
             div.dt-button-collection a.dt-button:active:not(.disabled), 
             div.dt-button-collection a.dt-button.active:not(.disabled) {
              
              background:#0d98ba;box-shadow: inset 1px 1px 3px #666;}

              div.dt-button-collection button.dt-button:active:not(.disabled):hover,
              div.dt-button-collection button.dt-button.active:not(.disabled):hover, 
              div.dt-button-collection div.dt-button:active:not(.disabled):hover, 
              div.dt-button-collection div.dt-button.active:not(.disabled):hover,
               div.dt-button-collection a.dt-button:active:not(.disabled):hover, 
               div.dt-button-collection a.dt-button.active:not(.disabled):hover {
                background:#0d98ba;box-shadow: inset 1px 1px 3px #666;
                font-weight:600;
               }
             

           table.dataTable thead th {
            background-color: #0d98ba;
            border-color: #0d98ba;
            
          }
          
          table.dataTable tfoot th {
            background-color: #0d98ba;
            border-color: #0d98ba;
           
          }
          
          button.buttons-copy, div.buttons-copy, a.buttons-copy, input.buttons-copy, 
          button.buttons-excel, div.buttons-excel, a.buttons-excel, input.buttons-excel,
          button.buttons-pdf, div.buttons-pdf, a.buttons-pdf,input.buttons-pdf,
          button.buttons-csv, div.buttons-csv, a.buttons-csv,input.buttons-csv,
          button.buttons-colvis, div.buttons-colvis, a.buttons-colvis, input.buttons-colvis{background:#0d98ba;} 


          /* Copy button icon */
.buttons-copy span {
  display: none; /* hide the text content */
}

.buttons-copy:before {
  content: "\f0c5"; /* Font Awesome icon code */
  font-family: "Font Awesome 5 Free"; /* Font Awesome font family */
  font-weight: 900; /* Font weight for solid icons */
  font-size: 1em; /* Icon size */
  margin-right: 5px; /* Add some space between the icon and text */
}

/* Excel button icon */
.buttons-excel span {
  display: none; /* hide the text content */
}

.buttons-excel:before {
  content: "\f1c3"; /* Font Awesome icon code */
  font-family: "Font Awesome 5 Free"; /* Font Awesome font family */
  font-weight: 900; /* Font weight for solid icons */
  font-size: 1em; /* Icon size */
  margin-right: 5px; /* Add some space between the icon and text */
}

/* PDF button icon */
.buttons-pdf span {
  display: none; /* hide the text content */
}

.buttons-pdf:before {
  content: "\f1c1"; /* Font Awesome icon code */
  font-family: "Font Awesome 5 Free"; /* Font Awesome font family */
  font-weight: 900; /* Font weight for solid icons */
  font-size: 1em; /* Icon size */
  margin-right: 5px; /* Add some space between the icon and text */
}
/* csv button icon */
.buttons-csv span {
  display: none; /* hide the text content */
}

.buttons-csv:before {
  content: "\f6dd"; /* Font Awesome icon code */
  font-family: "Font Awesome 5 Free"; /* Font Awesome font family */
  font-weight: 900; /* Font weight for solid icons */
  font-size: 1em; /* Icon size */
  margin-right: 5px; /* Add some space between the icon and text */
}



/* Column visibility button icon */
.buttons-colvis span:first-child {
  display: none; /* hide the "Column visibility" text */
}

.buttons-colvis:before {
  content: "\f070"; /* Font Awesome icon code */
  font-family: "Font Awesome 5 Free"; /* Font Awesome font family */
  font-weight: 900; /* Font weight for solid icons */
  font-size: 1em; /* Icon size */
  margin-right: 5px; /* Add some space between the icon and text */
}
/* Adjust the table's font size and line height for mobile devices */




  </style> 
  {% endblock header%}
  {% block content %}


 <div class="grid grid-cols-1">
 
  <h2 class="text-lg font-bold text-center md:text-2xl">Docking Station List</h2>
  <div class="flex">
  <a class="text-md md:text-lg" id="ascancomputer" href="{% url "index"%}"><button class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300
     dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"id="scancomputer">Scan Computer</button></a>
  <a class="text-md md:text-lg" id="addmonitor" href="{% url "scan_monitor"%}"><button class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 
    hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" id="addmonitors">Scan Monitors</button></a>
  </div>
  <div class="rounded shadow p-2 bg-white cardd overflow-x-auto ">
      <table id="example" class="display table-auto whitespace-nowrap border-spacing-0">
    
        
    <thead>
      <tr>
        <th class="text-md">id</th>
        <th class="text-md">Asset Tag</th>
        <th class="text-md">Service Tag</th>
        <th class="text-md">Make</th>
        <th class="text-md">Computers</th>
      </tr>
    </thead>
    <tbody>
      {% for item in dockingstation_items %}
     
        <tr>
          <td><a class="btn btn-sm btn-info" href="{% url 'dockingstation_page' item.id %}" ><button  class="border-2 text-xs px-3 py-1 bg-blue-500 text-white border rounded-md">{{ item.id }} </button></a> </td>
          <td>{{ item.asset_tag }}</td>
          <td>{{ item.service_tag }}</td>
          <td>{{ item.make }}</td>
          <td>
          {% if item.computer %}
         
          <a class="btn btn-sm btn-info" href="{% url 'computers_form' item.computer.id %}" ><button  class="border-2 text-xs px-3 py-1 bg-yellow-500 border rounded-md">{{ item.computer }} </button></a> 
        {% else %}
            No computer found for this Socking Station.
        {% endif %}
        </td>
       </tr>
            
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th class="text-md">id</th>
        <th class="text-md">Asset Tag</th>
        <th class="text-md">Service Tag</th>
        <th class="text-md">Make</th>
        <th class="text-md">Computers</th>
    
      </tr>
  </tfoot>
  </table>
</div> 
</div> 



	


<script src="{% static '/js/datatable.js' %}"></script>

{% endblock content %}





